<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="bottoken" value="MTE4OTIyMjIwNTM5NDAwNjA4Ng.GF686m.eaTsZqMiB9BG-hkuujCalslAdxL2v91rYzqVyQ"/>
		<add key="server" value="localhost"/>
		<add key="database" value="tp"/>
		<add key="username" value="tourneypal"/>
		<add key="password" value="TouRn3yPAL!!!@"/>
	</appSettings>
</configuration>